In [1]:
import pandas as pd
import numpy as np

# data preprocessing
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

# exploratory analysis
import matplotlib.pyplot as plt
import mlxtend
from mlxtend.plotting import scatterplotmatrix
from mlxtend.plotting import heatmap
import seaborn as sns
from IPython.display import Image

# model fit
import statsmodels.api as sm
import tensorflow as tf

# ignore warnings (libraries are rapidly changing)
import warnings
warnings.filterwarnings('ignore')

2023-11-12 10:25:16.673035: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-11-12 10:25:16.732757: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-11-12 10:25:16.734541: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-11-12 10:25:17.892751: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

### Read agricultural data into pandas df

In [2]:
#Read CSV into dataframe
ag_data = pd.read_csv('Agrofood_co2_emission.csv')

#Format column headers
ag_data.columns = ag_data.columns.str.replace(' -', '')
ag_data.columns = ag_data.columns.str.replace('(', '', regex=True)
ag_data.columns = ag_data.columns.str.replace(')', '', regex=True)
ag_data.columns = ag_data.columns.str.replace(' ', '_')
ag_data.columns = map(str.lower, ag_data.columns)


ag_data.head()

,area,year,savanna_fires,forest_fires,crop_residues,rice_cultivation,drained_organic_soils_co2,pesticides_manufacturing,food_transport,forestland,...,manure_management,fires_in_organic_soils,fires_in_humid_tropical_forests,on-farm_energy_use,rural_population,urban_population,total_population_male,total_population_female,total_emission,average_temperature_°c
0,Afghanistan,1990,14.7237,0.0557,205.6077,686.00,0.0,11.807483,63.1152,-2388.803,...,319.1763,0.0,0.0,NaN,9655167.0,2593947.0,5348387.0,5346409.0,2198.963539,0.536167
1,Afghanistan,1991,14.7237,0.0557,209.4971,678.16,0.0,11.712073,61.2125,-2388.803,...,342.3079,0.0,0.0,NaN,10230490.0,2763167.0,5372959.0,5372208.0,2323.876629,0.020667
2,Afghanistan,1992,14.7237,0.0557,196.5341,686.00,0.0,11.712073,53.3170,-2388.803,...,349.1224,0.0,0.0,NaN,10995568.0,2985663.0,6028494.0,6028939.0,2356.304229,-0.259583
3,Afghanistan,1993,14.7237,0.0557,230.8175,686.00,0.0,11.712073,54.3617,-2388.803,...,352.2947,0.0,0.0,NaN,11858090.0,3237009.0,7003641.0,7000119.0,2368.470529,0.101917
4,Afghanistan,1994,14.7237,0.0557,242.0494,705.60,0.0,11.712073,53.9874,-2388.803,...,367.6784,0.0,0.0,NaN,12690115.0,3482604.0,7733458.0,7722096.0,2500.768729,0.372250

In [3]:
# ag_data.info()
ag_data.shape

(6965, 31)

### Drop Unecessary Columns:
rural population, male population, female population

In [4]:
ag_data = ag_data.drop(['total_population_female', 'total_population_male', 'rural_population'], axis=1)

In [5]:
# ag_data.info()
ag_data.shape

(6965, 28)

### Combine similar columns:

fires = savanna_fires + forest_fires + fires_in_organic_soils + fires_in_humid_tropical_forests
</br>manure_mgmt = manure_applied_to_soils + manure_left_on_pasture + manure_management
</br>food_systems = food_processing + food_packaging + food_retail + food_transport + food_houshold_consumption + agrifood_systems_waste_disposal
</br>ippu_tot = ippu + pesticides_manufacturing + fertilizers_manufacturing
</br>on_farm_energy_use = on-farm_electricity_use + on-farm_energy_use

In [6]:
ag_data['fires'] = ag_data['savanna_fires']+ag_data['forest_fires']+ag_data['fires_in_organic_soils']+ag_data['fires_in_humid_tropical_forests']
ag_data['manure_mgmt'] = ag_data['manure_applied_to_soils']+ag_data['manure_left_on_pasture']+ag_data['manure_management']
ag_data['food_systems'] = ag_data['food_processing']+ag_data['food_packaging']+ag_data['food_retail']+ag_data['food_transport']+ag_data['food_household_consumption']+ag_data['agrifood_systems_waste_disposal']
ag_data['ippu_tot'] = ag_data['ippu']+ag_data['pesticides_manufacturing']+ag_data['fertilizers_manufacturing']
ag_data['on_farm_energy_use'] = ag_data['on-farm_electricity_use'] + ag_data['on-farm_energy_use']

In [7]:
#Drop individual columns
ag_data = ag_data.drop(['savanna_fires', 'forest_fires', 'fires_in_organic_soils', 'fires_in_humid_tropical_forests',
                       'manure_applied_to_soils', 'manure_left_on_pasture', 'manure_management', 'food_processing',
                       'food_packaging', 'food_retail', 'food_transport', 'food_household_consumption',
                       'agrifood_systems_waste_disposal', 'ippu', 'pesticides_manufacturing', 'fertilizers_manufacturing',
                       'on-farm_electricity_use', 'on-farm_energy_use'], axis=1)

In [8]:
# ag_data.info()
ag_data.shape

(6965, 15)

### Read Multivariate ENSO Index (MEI) data into pandas df

In [9]:
enso_data = pd.read_csv('meiv2.csv')
enso_data.columns = map(str.lower, enso_data.columns)

#Drop years before 1990 and after 2020
enso_data = enso_data[enso_data['year'] <= 2020]
enso_data = enso_data[enso_data['year'] > 1989]

enso_data = enso_data.set_index('year')

#Calculate yearly average index
enso_data['mei'] = enso_data.mean(axis=1)

#Reset index
enso_data = enso_data.reset_index(names=['year'])

#Drop months columns
enso_data = enso_data.drop(["dj",'jf','fm','ma','am','mj','jj','ja','as','so','on','nd'], axis='columns')

### Join DFs

In [10]:
ag_data = ag_data.merge(enso_data, left_on='year', right_on='year')

In [11]:
ag_data.head()

,area,year,crop_residues,rice_cultivation,drained_organic_soils_co2,forestland,net_forest_conversion,urban_population,total_emission,average_temperature_°c,fires,manure_mgmt,food_systems,ippu_tot,on_farm_energy_use,mei
0,Afghanistan,1990,205.6077,686.000000,0.0000,-2388.8030,0.0000,2593947.0,2198.963539,0.536167,14.7794,2169.8513,1263.479256,233.782283,NaN,0.2
1,Albania,1990,59.2391,23.520000,110.5705,72.8581,0.0000,1195379.0,3475.291240,0.735750,12.5814,1054.6462,650.148524,1125.636617,366.090800,0.2
2,Algeria,1990,164.2776,4.312000,0.0000,-111.1403,684.9333,13496502.0,22326.596965,1.005583,144.6946,2758.8447,13250.763265,5288.278000,141.633800,0.2
3,American Samoa,1990,NaN,926.342278,0.0000,-58.8991,7.9612,38076.0,5299.122499,0.566500,0.0000,NaN,199.688951,NaN,58.504263,0.2
4,Andorra,1990,NaN,926.342278,0.0000,0.0000,0.0000,51627.0,5576.553292,1.278500,0.0000,NaN,570.011357,1711.187476,74.704263,0.2

In [12]:
# ag_data.info()
ag_data.shape

(6965, 16)

### Read Continents Data into Pandas DF

In [13]:
region_data = pd.read_csv('continents.csv')
# https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes/blob/master/all/all.csv
# linked from kaggle: https://www.kaggle.com/datasets/andradaolteanu/country-mapping-iso-continent-region

In [14]:
# drop columns not needed
region_data = region_data.drop(['alpha-2', 'alpha-3', 'country-code', 'iso_3166-2','intermediate-region', 
                                'region-code', 'sub-region-code','intermediate-region-code'], axis=1)

### Merge Regions into Emissions DF

In [15]:
ag_data = ag_data.merge(region_data, left_on='area', right_on='name', how='left').drop(['name'], axis=1)

In [16]:
# manually update region & sub-region information:

def update_regions():

    asia_region = ['China, Hong Kong SAR',
                    'China, Macao SAR',
                    'China, Taiwan Province of',
                    'China, mainland',
                    "Democratic People's Republic of Korea",
                    'Republic of Korea']
    
    for area in asia_region:
        ag_data.loc[ag_data['area']==area,'region']='Asia'
        ag_data.loc[ag_data['area']==area,'sub-region']='East Asia'

    
    # 'British Virgin Islands' # Americas, Latin America and the Caribbean 
    # 'United States Virgin Islands' # Americas, Latin America and the Caribbean
    americas_region = ['British Virgin Islands', 'United States Virgin Islands']    
    
    for area in americas_region:
        ag_data.loc[ag_data['area']==area,'region']='Americas'
        ag_data.loc[ag_data['area']==area,'sub-region']='Latin America and the Caribbean'
    
    #'Palestine' # Asia, Western Asia
    ag_data.loc[ag_data['area']=='Palestine','region']='Asia'
    ag_data.loc[ag_data['area']=='Palestine','sub-region']='Western Asia'

    # 'Wallis and Futuna Islands' # Oceania, Polynesia
    ag_data.loc[ag_data['area']=='Wallis and Futuna Islands','region']='Oceania'
    ag_data.loc[ag_data['area']=='Wallis and Futuna Islands','sub-region']='Polynesia'

    # 'Republic of Moldova' # Europe, Eastern Europe
    # 'Serbia and Montenegro' # Europe, Southern Europe
    # 'Channel Islands' # Europe, Northern Europe
    # 'Netherlands (Kingdom of the)' # Europe, Western Europe
    # 'Belgium-Luxembourg' # Europe, Western Europe
    europe_region = ['Republic of Moldova',
                     'Serbia and Montenegro',
                     'Channel Islands',
                     'Netherlands (Kingdom of the)',
                     'Belgium-Luxembourg']
    for area in europe_region:
        ag_data.loc[ag_data['area']==area,'region']='Europe'
        ag_data.loc[ag_data['area']==area,'sub-region']='Wstern Europe'

    ag_data.loc[ag_data['area']=='Republic of Moldova','sub-region']='Eastern Europe'
    ag_data.loc[ag_data['area']=='Serbia and Montenegro','sub-region']='Southern Europe'
    ag_data.loc[ag_data['area']=='Channel Islands','sub-region']='Northern Europe'
    

    # 'Ethiopia PDR' # Afria, Sub-Saharan Africa
    # 'United Republic of Tanzania' # Afria, Sub-Saharan Africa
    # 'Democratic Republic of the Congo' # Africa, Sub-Saharan Africa
    africa_region = ['Ethiopia PDR', 'United Republic of Tanzania', 'Democratic Republic of the Congo']

    for area in africa_region:
        ag_data.loc[ag_data['area']==area,'region']='Africa'
        ag_data.loc[ag_data['area']==area,'sub-region']='Sub-Saharan Africa'


update_regions()

In [17]:
# areas not in region data set
ag_data[ag_data.region.isna()].groupby('area')['year'].count()

area
Czechoslovakia                      3
Netherlands Antilles (former)      21
Pacific Islands Trust Territory     1
Sudan (former)                     22
USSR                                2
Yugoslav SFR                        2
Name: year, dtype: int64

### Evaluate Countries with fewer than 31 years:

In [18]:
ag_data_area = ag_data.groupby('area').sum()
ag_data_area.loc[ag_data_area['year'] != 62155]

,year,crop_residues,rice_cultivation,drained_organic_soils_co2,forestland,net_forest_conversion,urban_population,total_emission,average_temperature_°c,fires,manure_mgmt,food_systems,ippu_tot,on_farm_energy_use,mei
area,,,,,,,,,,,,,,,
Armenia,58174,867.9864,7193.783413,0.000000e+00,-7.207147e+02,2917.1471,5.635726e+07,9.744722e+04,30.398333,147.4283,12704.6754,3.341263e+04,3.442255e+04,6501.743700,-2.933333
Azerbaijan,58174,4224.8868,540.850300,0.000000e+00,-6.026048e+04,4081.8835,1.347994e+08,2.730205e+05,30.718750,869.7217,57311.7177,1.505620e+05,5.691915e+04,58770.713500,-2.933333
Belarus,58174,12870.7709,26863.926076,1.237739e+06,-1.428863e+06,44432.5316,2.051809e+08,7.723587e+05,43.376000,1139.1979,118212.6124,2.316582e+05,4.285815e+05,99724.217100,-2.933333
Belgium,42210,3792.0467,15238.494610,4.233712e+03,-6.181097e+04,13283.4030,2.241269e+08,7.635175e+05,31.193667,1.7183,79432.2159,2.515535e+05,4.073839e+05,50409.423300,-4.991667
Belgium-Luxembourg,19945,1530.0201,7733.039548,2.170152e+03,-5.741164e+04,10069.1510,1.015337e+08,2.627709e+05,8.839917,1.6377,45740.5605,0.000000e+00,1.623048e+05,0.000000,2.933333
Bosnia and Herzegovina,58174,1935.6795,7215.045405,3.432881e+03,3.991576e+03,0.0000,4.783055e+07,1.499274e+05,34.322833,663.6878,22613.4146,6.318621e+04,4.474690e+04,2141.983400,-2.933333
Croatia,58174,4609.2055,16056.151542,2.582154e+02,-5.376840e+04,8217.6994,6.917302e+07,2.354761e+05,36.427000,358.3903,26695.2161,7.960718e+04,1.300727e+05,23369.795000,-2.933333
Czechia,56182,12395.6109,24001.145653,7.543190e+03,-2.141410e+05,18459.6918,2.156180e+08,5.359970e+05,38.685250,16.0832,47520.7339,3.448612e+05,2.315051e+05,63835.296700,-4.125000
Czechoslovakia,5973,2158.5798,2779.026835,1.048374e+03,-5.914724e+04,2036.8200,3.234779e+07,3.579869e+04,2.250750,2.8005,14987.4518,2.195435e+04,3.603314e+04,13301.816100,2.066667
Eritrea,56182,692.5093,6945.721916,2.335284e+02,-6.916390e+03,18955.4495,3.771124e+07,1.081507e+05,23.028537,697.3014,37665.2905,2.222150e+04,2.670203e+04,936.760700,-4.125000
Estonia,58174,1619.2633,8222.891707,1.405515e+05,-1.189717e+05,0.0000,2.739272e+07,1.293376e+05,44.152250,32.7562,11579.9046,4.629095e+04,2.332692e+04,16685.040200,-2.933333
Ethiopia,56182,21969.0806,2570.551500,1.595870e+05,-1.242453e+05,768723.7814,3.924815e+08,2.000758e+06,27.325417,161754.6310,729800.8190,2.216859e+05,5.025764e+04,8636.544351,-4.125000
Ethiopia PDR,5973,906.5173,10287.492412,1.653903e+04,-3.218250e+02,60232.4799,2.108766e+07,1.886839e+05,1.016111,17332.0959,57476.9778,1.289544e+04,2.190769e+03,1815.823822,2.066667
Georgia,58174,941.0320,7193.783413,0.000000e+00,-1.995715e+05,0.0000,7.094635e+07,-4.730578e+04,27.151833,324.3206,23883.9858,4.083321e+04,6.946171e+04,9627.731000,-2.933333
Kazakhstan,58174,38048.8669,15925.150100,0.000000e+00,-1.085897e+05,21826.2025,2.698393e+08,9.816377e+05,36.619583,113779.1208,159875.3826,3.437136e+05,2.036175e+05,193441.577200,-2.933333
Kyrgyzstan,58174,3250.3441,1205.369900,0.000000e+00,-2.933031e+04,0.0000,5.453655e+07,8.698536e+04,30.822083,188.6432,35998.7753,3.229461e+04,3.178443e+04,11593.503700,-2.933333
Latvia,58174,3141.7061,11424.216984,1.443837e+05,-3.533902e+05,5759.3750,4.408390e+07,-5.110531e+04,43.053667,65.9865,17812.7654,3.768414e+04,6.864734e+04,13365.659700,-2.933333
Lithuania,58174,6282.4856,20197.610087,2.862298e+05,-1.790651e+05,12127.4595,6.369970e+07,4.377703e+05,41.737500,22.3361,35123.1784,5.421691e+04,1.927109e+05,9924.683800,-2.933333
Luxembourg,42210,177.2729,5174.552806,9.892650e+01,-8.359076e+03,2.3071,9.542542e+06,7.335716e+04,32.464333,0.1303,3733.2950,2.127884e+04,4.976424e+04,1486.668200,-4.991667
Marshall Islands,60165,0.0000,60831.997342,0.000000e+00,0.000000e+00,0.0000,1.115375e+06,1.997623e+05,7.979167,0.0000,0.0000,1.545242e+04,5.032859e+04,217.638800,-2.258333
Micronesia (Federated States of),60165,0.4836,4261.154984,0.000000e+00,-7.946278e+03,7038.0990,7.310560e+05,1.609712e+05,6.956500,0.0000,762.5431,1.115832e+04,1.322339e+05,279.722700,-2.258333
Montenegro,30195,10.9697,3696.109147,4.907620e+02,-2.079445e+04,0.0000,6.114938e+06,4.140414e+04,21.878500,104.2151,2117.2919,8.416330e+03,4.697267e+04,390.243500,-4.233333
Netherlands Antilles (former),42000,0.0000,19453.187848,0.000000e+00,-7.976000e-01,0.0000,3.482347e+06,1.370297e+05,13.579417,0.0000,0.0000,2.985908e+04,3.580276e+04,3322.408064,-0.441667
North Macedonia,58174,1086.7892,840.643900,0.000000e+00,0.000000e+00,0.0000,3.448486e+07,1.059662e+05,26.981333,174.9561,13143.5061,4.458322e+04,4.213417e+04,4002.969000,-2.933333
Northern Mariana Islands,60165,0.0000,49300.617357,0.000000e+00,4.168080e+02,8220.2795,1.583388e+06,2.082970e+05,24.421788,0.0000,0.0000,1.652253e+04,0.000000e+00,858.033621,-2.258333
Pacific Islands Trust Territory,1990,0.0156,0.559100,0.000000e+00,-3.847150e+02,498.9154,1.043090e+05,1.160373e+04,0.395000,0.0000,0.0000,0.000000e+00,5.243787e+03,0.000000,0.200000
Palau,60165,0.0000,50440.843341,0.000000e+00,0.000000e+00,0.0000,4.348040e+05,3.432900e+05,18.343882,0.0000,0.0000,1.672208e+04,8.422882e+04,427.182900,-2.258333
Republic of Moldova,58174,4330.0556,14988.106035,5.274852e+03,-2.379874e+04,5991.9750,5.286962e+07,1.529529e+05,35.027667,48.9233,17899.1760,8.269720e+04,2.885043e+04,16670.934000,-2.933333
Russian Federation,58174,182607.3746,39932.938000,1.480994e+06,-1.871147e+07,596657.0629,3.099477e+09,-4.323756e+06,43.024250,331325.3111,831847.5740,3.972604e+06,5.993646e+06,958099.549800,-2.933333
Serbia,30195,7167.4303,13800.774809,3.735210e+01,-2.350798e+05,42447.8460,7.414218e+07,1.615626e+05,22.903750,129.9095,31189.3570,1.134949e+05,1.771254e+05,11249.407000,-4.233333
Serbia and Montenegro,27979,6304.9935,12968.791899,4.939096e+02,-2.283227e+05,0.0000,7.523020e+07,-5.933866e+04,9.053917,162.5851,44074.4312,2.024325e+04,6.469992e+04,0.000000,1.300000
Slovakia,56182,5702.5655,18055.264526,1.831502e+03,-2.122815e+05,8507.2742,8.358900e+07,1.275557e+05,34.240500,10.8382,21795.9690,1.170323e+05,1.513930e+05,15508.504100,-4.125000
Slovenia,58174,819.0721,7193.783413,4.234066e+03,-2.348045e+05,19670.8290,3.063860e+07,-6.546388e+04,41.696167,25.5699,16023.2087,5.170269e+04,6.252823e+04,7143.145900,-2.933333
South Sudan,18144,616.7202,2677.768214,8.596213e+04,8.987155e+03,0.0000,2.110718e+07,4.009465e+05,10.231000,197928.1280,83946.1718,1.545945e+04,4.173835e+03,1195.156500,-0.241667
Sudan,18144,5651.4233,359.946200,0.000000e+00,-2.963840e+02,191386.5102,1.221796e+08,5.339991e+05,9.660667,30622.1808,212590.5379,6.497681e+04,1.876276e+04,9945.303800,-0.241667
Sudan (former),44011,11364.6203,408.973600,2.113602e+05,4.572264e+03,474943.3807,2.237895e+08,2.065170e+06,15.115859,696567.3790,544699.6342,9.137127e+04,1.828832e+04,11593.777200,-1.816667
Tajikistan,58174,1839.6346,2526.510600,0.000000e+00,-5.851282e+03,0.0000,5.660311e+07,1.232166e+05,26.146250,82.7773,36937.9823,3.421095e+04,5.064838e+04,2821.634400,-2.933333
Turkmenistan,58174,3381.9421,11456.040100,0.000000e+00,-1.664557e+03,0.0000,6.838267e+07,3.297540e+05,33.133250,2204.7038,63271.0539,1.053229e+05,8.005935e+04,0.000000,-2.933333
USSR,3981,26755.2046,9513.056000,2.636765e+05,-1.211446e+06,84011.3698,3.785130e+08,1.044955e+06,1.767250,31335.2824,237149.1000,4.909421e+05,6.170360e+05,495982.187000,0.875000
Ukraine,58174,84954.5413,4583.875500,5.802961e+05,-1.156678e+06,28656.7600,9.301142e+08,2.043232e+06,36.355417,4456.2029,288641.2029,9.147723e+05,9.984337e+05,295114.753100,-2.933333
Uzbekistan,58174,11220.6024,15984.460000,0.000000e+00,-1.683689e+05,12727.9605,3.815599e+08,1.104037e+06,33.145333,945.3558,167570.0525,4.185121e+05,3.455810e+05,299864.793600,-2.933333
Yugoslav SFR,3981,1892.3948,137.764500,5.521982e+02,-2.168611e+04,779.0382,2.297265e+07,5.243255e+04,0.575083,90.8216,15721.3901,1.466942e+04,3.865882e+04,1616.814800,0.875000

### Drop Belgium-Luxembourg

Not sure why Belgium & Luxembourg are reported together between 1990 and 2000, but not sure how to accurately split info for these years into each country. Propose dropping these data points.

In [19]:
# ag_data[ag_data['area'] == 'Belgium']
# ag_data[ag_data['area'] == 'Luxembourg']
# ag_data[ag_data['area'] == 'Belgium-Luxembourg']

ag_data = ag_data[ag_data['area'] != 'Belgium-Luxembourg']

### Drop Czechoslovakia

Czeochoslovakia split into Czechia (Czech Republic) & Slovakia in 1993. Czechoslavakia data between 1990-1992 represents the entire region. Only lose 3 years of data.

In [20]:
# ag_data[ag_data['area'] == 'Czechia']
# ag_data[ag_data['area'] == 'Czechoslovakia']
# ag_data[ag_data['area'] == 'Slovakia']

ag_data = ag_data[ag_data['area'] != 'Czechoslovakia']

### Drop USSR

Soviet Union fell in 1991. Drop 1990-1991.

In [21]:
# ag_data[ag_data['area'] == 'USSR']
    
ag_data = ag_data[ag_data['area'] != 'USSR']

### Drop Yugoslavia SFR

SFRY ended in 1991

In [22]:
# ag_data[ag_data['area'] == 'Yugoslav SFR']

ag_data = ag_data[ag_data['area'] != 'Yugoslav SFR']

### Drop Pacific Islands Trust Territory

Split into Micronesia, Marshall Islands, and Palau. Only drop 1990.

In [23]:
# ag_data[ag_data['area'] == 'Pacific Islands Trust Territory']

ag_data = ag_data[ag_data['area'] != 'Pacific Islands Trust Territory']

### Rename Ethiopia PDR to Ethiopia

In [24]:
#ag_data[ag_data['area'] == 'Ethiopia PDR']
#ag_data[ag_data['area'] == 'Ethiopia']

ag_data.loc[ag_data["area"] == "Ethiopia PDR", 'area'] = "Ethiopia"

### Drop Serbia, Montenegro, Serbia & Montenegro

These countries were in a union until 2006. Very difficult to split or interpret this data. Not enough data left if we remove Serbia & Montenegro data points. Propose removing all 3 from datasest.

In [25]:
ag_data = ag_data[ag_data['area'] != 'Serbia']
ag_data = ag_data[ag_data['area'] != 'Montenegro']
ag_data = ag_data[ag_data['area'] != 'Serbia and Montenegro']

### Drop Sudan(former), Sudan, and South Sudan

Split into two countries in 2011. Very difficult to split or interpret data prior to split. Propose removing all 3 from dataset.

In [26]:
ag_data = ag_data[ag_data['area'] != 'Sudan (former)']
ag_data = ag_data[ag_data['area'] != 'Sudan']
ag_data = ag_data[ag_data['area'] != 'South Sudan']

### Drop Netherlands Antiles

Was a country made up of dutch colonized islands. Dissolved in 2010. Not sufficient data to keep. Propose removing.

In [27]:
ag_data = ag_data[ag_data['area'] != 'Netherlands Antilles (former)']

### Confirm no areas are missing region data

In [28]:
# areas not in region data set
ag_data[ag_data.region.isna()].groupby('area')['year'].count()

Series([], Name: year, dtype: int64)

### Impute Null Values

Compute average emissions for all columns, group by year and sub-region
</br>Replace null values with average value for that year and sub-region

In [29]:
ag_data.isnull().sum()

area                            0
year                            0
crop_residues                1368
rice_cultivation                0
drained_organic_soils_co2       0
forestland                    493
net_forest_conversion         493
urban_population                0
total_emission                  0
average_temperature_°c          0
fires                         155
manure_mgmt                   906
food_systems                  456
ippu_tot                      743
on_farm_energy_use            930
mei                             0
region                          0
sub-region                      0
dtype: int64

In [34]:
ag_data[ag_data['crop_residues'].isnull()].groupby('area').sum()

,year,crop_residues,rice_cultivation,drained_organic_soils_co2,forestland,net_forest_conversion,urban_population,total_emission,average_temperature_°c,fires,manure_mgmt,food_systems,ippu_tot,on_farm_energy_use,mei
area,,,,,,,,,,,,,,,
American Samoa,62155,0.0,35912.514945,0.0000,-1597.6311,258.1007,1489097.0,170441.802466,26.352765,0.0000,0.0000,5266.409674,0.000000,1471.136146,-2.058333
Andorra,62155,0.0,28716.610633,0.0000,0.0000,0.0000,2038525.0,163914.151678,39.800000,0.0000,0.0000,8542.204360,53007.193557,2340.875946,-2.058333
Anguilla,62155,0.0,81021.342888,0.0000,0.0000,0.0000,380791.0,382477.950827,21.425000,0.0000,0.0000,19863.982579,86898.124683,147.057000,-2.058333
Aruba,62155,0.0,60320.883163,0.0000,-1.7989,0.0000,1311424.0,205325.247943,24.766342,0.0000,0.0000,22373.504275,50012.139891,887.887100,-2.058333
Bahrain,4025,0.0,1515.513286,0.0000,-5.1600,0.0000,2305816.0,14630.473086,3.334500,0.0000,66.1694,5475.665800,7499.039600,0.000000,-0.683333
Bermuda,60165,0.0,46947.094321,0.0000,0.0000,0.0000,1893961.0,311920.136507,24.500627,0.0000,0.0000,17860.609918,0.000000,1040.755784,-2.258333
British Virgin Islands,62155,0.0,81305.494934,0.0000,0.0000,0.0000,327967.0,469065.447763,21.869667,0.6844,0.0000,0.000000,91449.759165,17090.796518,-2.058333
Cayman Islands,62155,0.0,64799.059337,0.0000,-54.4794,96.7672,1454896.0,212409.758811,30.551787,0.0000,0.0000,17867.428100,0.000000,766.191146,-2.058333
Channel Islands,62155,0.0,307414.102948,0.0000,0.0000,0.0000,1472782.0,989849.947276,33.245083,0.0000,0.0000,0.000000,0.000000,0.000000,-2.058333
"China, Hong Kong SAR",60165,0.0,0.000000,0.0000,0.0000,0.0000,203754544.0,335374.994285,21.837667,14.9031,1267.4050,282195.139098,51597.577887,0.000000,-2.258333
"China, Macao SAR",62155,0.0,24874.544501,0.0000,0.0000,0.0000,15155839.0,109498.453402,22.234583,0.0000,80.2279,18609.288137,64071.083068,1863.309796,-2.058333
Cook Islands,62155,0.0,28840.927293,0.0000,-298.8975,0.0000,389220.0,80561.005195,7.669833,0.0000,455.1356,0.000000,33187.644291,141.007200,-2.058333
Equatorial Guinea,62155,0.0,25615.721335,1.3162,-63030.9163,181798.1238,15478753.0,231010.733962,22.450683,13.4529,281.9080,14110.303996,70548.273031,1672.551000,-2.058333
Falkland Islands (Malvinas),62155,0.0,111712.632629,171096.7104,0.0000,0.0000,61220.0,436683.402235,25.892493,16.0668,0.0000,17822.421263,0.000000,46.760300,-2.058333
Gibraltar,62155,0.0,38178.204517,0.0000,0.0000,0.0000,996386.0,185206.547654,33.284000,1.8515,0.0000,17629.808800,0.000000,1051.073800,-2.058333
Greenland,62155,0.0,34842.085199,0.0000,-2.6696,0.0000,1454836.0,168393.924540,29.895417,2.5099,0.0000,1378.291900,0.000000,3168.941100,-2.058333
Guadeloupe,62155,0.0,24806.129655,0.0000,-496.2465,1488.7400,13108850.0,118747.555538,21.179000,0.0000,1231.5650,26624.505422,0.000000,398.883400,-2.058333
Guam,60165,0.0,27790.268354,0.0000,-792.0000,0.0000,4370211.0,391834.131676,26.622497,0.0000,0.0000,0.000000,0.000000,0.000000,-2.258333
Holy See,62155,0.0,299144.323670,0.0000,0.0000,0.0000,24514.0,582022.799475,31.671833,0.0000,0.0000,18917.056311,73470.220151,0.000000,-2.058333
Isle of Man,62155,0.0,151791.536120,635.1449,0.0000,0.0000,1234905.0,425553.391171,24.627417,0.0305,0.0000,18102.556135,0.000000,342.100193,-2.058333
Kiribati,62155,0.0,61948.537466,0.0000,0.0000,0.0000,1335076.0,133014.723164,16.034656,0.0000,223.2178,10210.995196,59972.963956,659.008746,-2.058333
Liechtenstein,62155,0.0,286946.112816,0.0000,409.5325,130.5389,160325.0,428448.766580,41.833500,0.0000,0.0000,15482.324493,53731.869867,623.039944,-2.058333
Marshall Islands,60165,0.0,60831.997342,0.0000,0.0000,0.0000,1115375.0,199762.275750,7.979167,0.0000,0.0000,15452.424260,50328.593916,217.638800,-2.258333
Martinique,62155,0.0,24440.804689,0.0000,-2996.4000,0.0000,10581605.0,134976.289206,20.589883,0.0000,583.6960,0.000000,0.000000,15730.188311,-2.058333
Mayotte,62155,0.0,66263.872237,0.0000,-44.4499,1108.2138,2616057.0,216771.596374,17.369570,1.3106,0.0000,19954.480723,0.000000,733.994346,-2.058333
Monaco,62155,0.0,279275.242966,0.0000,0.0000,0.0000,1066014.0,422696.777891,37.396667,0.0000,0.0000,15814.216084,55954.826235,0.000000,-2.058333
Montserrat,60165,0.0,106114.249431,0.0000,-10.7180,225.0580,18066.0,273261.415255,21.088404,1.2851,0.0000,14039.364743,0.000000,4792.396015,-2.258333
Nauru,62155,0.0,29379.607125,0.0000,0.0000,0.0000,318582.0,65103.097417,16.492636,0.0000,41.8846,8451.234184,27039.328008,191.043500,-2.058333
Niue,62155,0.0,62174.634696,0.0000,-23.2440,39.3963,20465.0,100404.048472,20.647394,0.0000,34.3373,10631.128696,27018.770734,529.024746,-2.058333
Northern Mariana Islands,60165,0.0,49300.617357,0.0000,416.8080,8220.2795,1583388.0,208297.038392,24.421788,0.0000,0.0000,16522.534724,0.000000,858.033621,-2.258333
Palau,60165,0.0,50440.843341,0.0000,0.0000,0.0000,434804.0,343290.005281,18.343882,0.0000,0.0000,16722.079145,84228.815105,427.182900,-2.258333
Palestine,7966,0.0,7379.613952,0.0000,0.0000,0.0000,6143421.0,26223.314706,-0.950250,0.5796,0.0000,6820.735890,0.000000,45.541100,2.916667
"Saint Helena, Ascension and Tristan da Cunha",62155,0.0,121889.778555,0.0000,10.7561,0.0000,57899.0,353619.011082,37.320583,0.0000,0.0000,0.000000,56481.561340,17009.098618,-2.058333
Saint Kitts and Nevis,12105,0.0,39733.642492,0.0000,0.0000,0.0000,102711.0,54065.850075,5.650667,0.0000,20.5443,2341.102817,11593.507684,377.052782,0.525000
Saint Lucia,62155,0.0,37066.621272,0.0000,-4429.9344,237.7080,1169200.0,73289.828260,20.849333,0.0000,369.1003,13724.700527,25645.574687,676.057874,-2.058333
Saint Pierre and Miquelon,62155,0.0,80778.099518,0.0000,0.0000,43.7421,174727.0,316848.075438,13.787167,0.0000,0.0000,0.000000,0.000000,17386.093774,-2.058333
Samoa,62155,0.0,29559.167069,0.0000,75.8550,3248.8731,1147804.0,119726.040820,23.582367,44.3604,3315.3891,9480.821227,73366.014578,635.560346,-2.058333
San Marino,62155,0.0,279915.634818,0.0000,-56.8548,0.0000,857382.0,423981.075377,36.652000,0.0000,0.0000,16365.752965,55654.583435,0.000000,-2.058333
Seychelles,62155,0.0,28571.587377,0.0000,0.0000,0.0000,1397431.0,60616.383420,21.607917,0.0000,156.1155,6753.021732,24236.774564,898.884246,-2.058333
Singapore,62155,0.0,23490.455938,0.0000,-1733.3005,554.8305,139343248.0,481409.653297,25.271309,0.6252,518.0713,128131.720175,329725.194883,0.000000,-2.058333
Tokelau,62155,0.0,23490.455938,0.0000,0.0000,0.0000,0.0,224926.058632,24.521634,0.0000,14.9606,0.000000,0.000000,0.000000,-2.058333
Tonga,62155,0.0,28571.587377,0.0000,0.0000,0.0000,726714.0,76646.317690,19.040250,0.0000,1577.9257,9383.423216,36835.521197,277.860200,-2.058333
Turks and Caicos Islands,62155,0.0,71909.961822,0.0000,0.0000,0.0000,684847.0,213265.249520,29.952595,2.2784,0.0000,16664.978675,52547.223306,683.246446,-2.058333
Tuvalu,62155,0.0,61953.361846,0.0000,-6.4468,0.0000,161584.0,98379.114254,18.685212,0.0000,198.6784,8673.910527,27020.976234,538.634046,-2.058333
United States Virgin Islands,62155,0.0,28716.610633,0.0000,-1627.7450,391.1725,3072138.0,268199.666193,22.042333,0.0000,0.0000,0.000000,0.000000,0.000000,-2.058333
Wallis and Futuna Islands,62155,0.0,106611.692946,0.0000,-125.4062,148.9228,0.0,342968.038811,17.904333,0.0000,0.0000,0.000000,0.000000,17040.982018,-2.058333
Western Sahara,60165,0.0,27790.268354,0.0000,-10893.4445,409.9035,10577884.0,386930.729412,38.735000,0.0000,0.0000,0.000000,0.000000,0.000000,-2.258333

In [30]:
#Replace null values with calculated sub-region averages by year

def impute_null(df):
    cols = df.columns.tolist()
    for col in cols:
        null_indeces = df[df[col].isnull()].index.tolist()
        for index in null_indeces:
            year = df['year'][index]
            sub_region = df['sub-region'][index]
            new_value = df[(df['year']==year) & (df['sub-region']==sub_region)][col].aggregate('mean')
            df[col][index] = new_value
    return df

In [31]:
ag_data = impute_null(ag_data)

In [32]:
ag_data.isnull().sum()

area                         0
year                         0
crop_residues                0
rice_cultivation             0
drained_organic_soils_co2    0
forestland                   0
net_forest_conversion        0
urban_population             0
total_emission               0
average_temperature_°c       0
fires                        0
manure_mgmt                  0
food_systems                 0
ippu_tot                     0
on_farm_energy_use           0
mei                          0
region                       0
sub-region                   0
dtype: int64

### Compute rolling totals & Add new columns

In [33]:
def calc_rolling_total(df, column, time_period):
    return (df
            .groupby('area')[column]
            .transform(lambda df: df.rolling(time_period).sum()))

In [34]:
cols = ['crop_residues', 'rice_cultivation', 'drained_organic_soils_co2',
       'net_forest_conversion', 'fires', 'manure_mgmt', 'food_systems',
       'ippu_tot', 'on_farm_energy_use', 'forestland', 'total_emission']

In [35]:
for col in cols:
    ag_data['5yr_'+str(col)] = calc_rolling_total(ag_data, col, 5)

In [36]:
for col in cols:
    ag_data['10yr_'+str(col)] = calc_rolling_total(ag_data, col, 10)

In [37]:
for col in cols:
    ag_data['20yr_'+str(col)] = calc_rolling_total(ag_data, col, 20)

In [38]:
ag_data.tail()

,area,year,crop_residues,rice_cultivation,drained_organic_soils_co2,forestland,net_forest_conversion,urban_population,total_emission,average_temperature_°c,...,20yr_rice_cultivation,20yr_drained_organic_soils_co2,20yr_net_forest_conversion,20yr_fires,20yr_manure_mgmt,20yr_food_systems,20yr_ippu_tot,20yr_on_farm_energy_use,20yr_forestland,20yr_total_emission
6960,Wallis and Futuna Islands,2020,0.00930,4112.742030,0.0000,0.0000,0.0000,0.0,11739.701561,1.232333,...,76096.804360,0.0000,85.6090,0.000000e+00,588.378786,6701.200001,25131.438687,10990.711434,-72.6645,2.286121e+05
6961,Western Sahara,2020,408.44432,926.342278,0.0000,-104.5657,0.0000,518663.0,13153.118933,2.068000,...,18526.845569,0.0000,409.9035,0.000000e+00,66809.666020,425274.906629,283715.139940,67175.753025,-4814.5545,2.596462e+05
6962,Yemen,2020,42.74110,796.196122,0.0000,0.0000,0.0000,11465414.0,16313.168415,1.320126,...,13901.882040,0.0000,0.0000,1.869000e-01,55674.227600,143609.988473,42715.266455,37923.032213,0.0000,2.949848e+05
6963,Zambia,2020,205.72660,48.521800,14566.6658,0.0000,19047.2568,8336381.0,95970.904147,0.714417,...,839.905100,290382.9257,226684.9640,1.105177e+06,39116.582700,45443.238148,28787.794031,1823.799100,0.0000,1.740837e+06
6964,Zimbabwe,2020,108.30220,7.973300,0.0000,76500.2982,10662.4408,5700460.0,96505.221853,0.189000,...,86.071700,0.0000,213443.0780,4.251108e+04,62779.718300,40474.674000,45336.574844,36274.854100,388368.0030,8.314149e+05

### Reorder Columns

In [39]:
reordered_cols = ['area', 'region', 'sub-region', 'year', 'urban_population', 'mei', 'crop_residues',
       'rice_cultivation', 'drained_organic_soils_co2',
       'net_forest_conversion', 'fires', 'manure_mgmt', 'food_systems',
       'ippu_tot', 'on_farm_energy_use', 'forestland', 'total_emission',
       '5yr_crop_residues', '5yr_rice_cultivation',
       '5yr_drained_organic_soils_co2', '5yr_net_forest_conversion',
       '5yr_fires', '5yr_manure_mgmt', '5yr_food_systems', '5yr_ippu_tot',
       '5yr_on_farm_energy_use', '5yr_forestland', '5yr_total_emission', '10yr_crop_residues',
       '10yr_rice_cultivation', '10yr_drained_organic_soils_co2',
       '10yr_net_forest_conversion', '10yr_fires', '10yr_manure_mgmt',
       '10yr_food_systems', '10yr_ippu_tot', '10yr_on_farm_energy_use',
       '10yr_forestland', '10yr_total_emission', '20yr_crop_residues', '20yr_rice_cultivation',
       '20yr_drained_organic_soils_co2', '20yr_net_forest_conversion',
       '20yr_fires', '20yr_manure_mgmt', '20yr_food_systems', '20yr_ippu_tot',
       '20yr_on_farm_energy_use', '20yr_forestland', '20yr_total_emission', 'average_temperature_°c']
ag_data = ag_data[reordered_cols]

ag_data.head()

,area,region,sub-region,year,urban_population,mei,crop_residues,rice_cultivation,drained_organic_soils_co2,net_forest_conversion,...,20yr_drained_organic_soils_co2,20yr_net_forest_conversion,20yr_fires,20yr_manure_mgmt,20yr_food_systems,20yr_ippu_tot,20yr_on_farm_energy_use,20yr_forestland,20yr_total_emission,average_temperature_°c
0,Afghanistan,Asia,Southern Asia,1990,2593947.0,0.2,205.607700,686.000000,0.0000,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.536167
1,Albania,Europe,Southern Europe,1990,1195379.0,0.2,59.239100,23.520000,110.5705,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.735750
2,Algeria,Africa,Northern Africa,1990,13496502.0,0.2,164.277600,4.312000,0.0000,684.9333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.005583
3,American Samoa,Oceania,Polynesia,1990,38076.0,0.2,0.017500,926.342278,0.0000,7.9612,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.566500
4,Andorra,Europe,Southern Europe,1990,51627.0,0.2,463.085667,926.342278,0.0000,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.278500

## Split train, validation, and test data

~ 80% (1990-2014)
</br>~ 10% (2015-2017)
</br>~ 10% (2018-2020)

In [40]:
train = ag_data[ag_data['year'] <= 2014]
val = ag_data[(ag_data['year'] >= 2015) & (ag_data['year'] <= 2017)]
test = ag_data[ag_data['year'] >= 2018]

### Standaradize input variables in training datset

In [41]:
#Create a list of all features that need to be standardized
features = ['urban_population', 'mei', 'crop_residues', 'rice_cultivation', 'drained_organic_soils_co2', 'net_forest_conversion', 'fires',
            'manure_mgmt', 'food_systems', 'ippu_tot', 'on_farm_energy_use', 'forestland', '5yr_crop_residues', '5yr_rice_cultivation',
            '5yr_drained_organic_soils_co2', '5yr_net_forest_conversion', '5yr_fires', '5yr_manure_mgmt', '5yr_food_systems', '5yr_ippu_tot',
            '5yr_on_farm_energy_use', '5yr_forestland', '10yr_crop_residues', '10yr_rice_cultivation', '10yr_drained_organic_soils_co2',
            '10yr_net_forest_conversion', '10yr_fires', '10yr_manure_mgmt', '10yr_food_systems', '10yr_ippu_tot', '10yr_on_farm_energy_use',
            '10yr_forestland', '20yr_crop_residues', '20yr_rice_cultivation', '20yr_drained_organic_soils_co2', '20yr_net_forest_conversion',
            '20yr_fires', '20yr_manure_mgmt', '20yr_food_systems', '20yr_ippu_tot', '20yr_on_farm_energy_use', '20yr_forestland']

In [42]:
#Standardize train dataset

scaler = StandardScaler()
scaler.fit(train[features])
train[features] = scaler.transform(train[features])

In [43]:
#Standardize val and test datasets using train mean and st deviation

val[features] = scaler.transform(val[features])
test[features] = scaler.transform(test[features])

In [44]:
#Verify standardization was performed correctly
train[features].describe()
val[features].describe()
test[features].describe()

,urban_population,mei,crop_residues,rice_cultivation,drained_organic_soils_co2,net_forest_conversion,fires,manure_mgmt,food_systems,ippu_tot,...,20yr_crop_residues,20yr_rice_cultivation,20yr_drained_organic_soils_co2,20yr_net_forest_conversion,20yr_fires,20yr_manure_mgmt,20yr_food_systems,20yr_ippu_tot,20yr_on_farm_energy_use,20yr_forestland
count,669.000000,669.000000,669.000000,669.000000,669.000000,669.000000,669.000000,669.000000,669.000000,669.000000,...,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000
mean,0.116374,-0.167710,0.083752,0.005989,0.015014,-0.045295,-0.018412,0.038744,0.091264,0.154771,...,0.027768,-0.005685,0.010178,-0.026785,-0.014481,0.006275,0.040839,0.074669,0.012895,-0.013960
std,1.530788,0.566143,1.261176,0.999224,1.142795,0.593574,0.804096,1.033431,1.513134,1.850403,...,1.087673,0.978670,1.057695,0.830961,0.917775,1.008032,1.250262,1.468913,1.096604,1.139629
min,-0.265910,-0.751173,-0.299286,-0.242590,-0.223168,-0.175706,-0.149393,-0.365941,-0.250715,-0.219144,...,-0.303442,-0.247159,-0.220632,-0.181007,-0.192260,-0.366383,-0.264128,-0.247246,-0.247710,-10.011477
25%,-0.260305,-0.751173,-0.296631,-0.228707,-0.223168,-0.175706,-0.149393,-0.353990,-0.242837,-0.205643,...,-0.300458,-0.233423,-0.220632,-0.181007,-0.192259,-0.354120,-0.256201,-0.233268,-0.244610,0.197959
50%,-0.209105,-0.350042,-0.250259,-0.209461,-0.223168,-0.174922,-0.149232,-0.257500,-0.205128,-0.186362,...,-0.259673,-0.216155,-0.220632,-0.178550,-0.191833,-0.273695,-0.223113,-0.216649,-0.223726,0.260002
75%,-0.088563,0.598085,-0.102241,-0.156041,-0.178277,-0.131026,-0.137171,-0.026404,-0.108691,-0.109994,...,-0.146839,-0.159221,-0.176640,-0.118508,-0.177302,-0.051081,-0.138457,-0.142768,-0.145210,0.263738
max,14.865018,0.598085,9.339645,8.199960,15.404822,6.036978,16.702126,7.275415,15.369895,19.354377,...,7.916560,7.943695,14.042958,11.423222,11.908544,7.427627,12.561342,15.015036,9.936808,1.273320

In [45]:
#Confirm size of train, val, and test datasets

print(train.shape)
print(val.shape)
print(test.shape)

(5504, 51)
(669, 51)
(669, 51)

### Export Train, Val, Test Data to CSV

In [46]:
train.to_csv('train_data.csv',index=False)
val.to_csv('val_data.csv',index=False)
test.to_csv('test_data.csv',index=False)